html
    head
        title Myapp
    body(class='MyClass')
        h1 My App
        p   
            h3 sun heading
        ul
                EACH VAL IN ['1', '2', '3']
                    li = val